.header{
    background-color: rgba(255, 223, 228);
    
}
.header .banner-title{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal
    
}
.header .banner-para{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.button{
    background-color: rgb(245, 97, 176);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
   
    font-size: 12px;
    border-radius: 8px;
    background: #E55473;
    margin-right: -300px;
}
main{
    max-width: 1922px;
}
.about-info-container{
    display: flex;
    justify-content:space-between;
}
.about-info{
    width: 464px;
height: 538px;
flex-shrink: 0;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
align-items: center;
color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;

}
.about-info-2{
    width: 464px;
height: 538px;
flex-shrink: 0;
border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
align-items: center;
color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}
.about-info-3{
    width: 464px;
height: 538px;
flex-shrink: 0;
border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
align-items: center;
color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}


.banner{
    padding:30px 30px 0px 100px;
    display: flex;
    align-items: center;
}
.banner .profile-pic{
    width: 635px;
    height: 800px;
    flex-shrink: 0; 
}
.about{
    padding: 130px;
background: #FFF;

}
.section-info-container{
    display: flex;
    justify-content:space-around;
}

.section-title{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.section-title-1{
    width: 1440px;
    height: 320px;
    flex-shrink: 0;
border-radius: 8px;
background: rgba(187, 9, 9, 0.05);
align-items: center;


}
.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}